body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
}

/*
NAVEGAÇÃO
*/

.barra{
    background-color: black;
    height: 5rem;
    box-shadow: 0 0 0.5em rgb(56, 56, 56);

}
.logoprovest img{
    height: 10rem;
    width: 10rem;
    padding: 0rem;
    margin-top: -40px;
}

/*
ESTRUTURA
*/

.titulo{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
     
}

.nome-usuario input{
    border-radius: 20px;
    padding: 10px;
    width: 240px;
    margin-top: 15px;
    border: none;
    outline:0;
    box-shadow: 0 0 0.5em rgb(56, 56, 56);
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    
    
    
}

.estado select{
    border-radius: 20px;
    padding: 9px;
    width: 262px;
    margin-top: 15px;
    border: none;
    outline:0;
    box-shadow: 0 0 0.5em rgb(56, 56, 56);
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    color: gray;
    
}

.cidade input{
    border-radius: 20px;
    padding: 10px;
    width: 240px;
    margin-top: 15px;
    border: none;
    outline:0;
    box-shadow: 0 0 0.5em rgb(56, 56, 56);
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
}

.e-mail input{
    border-radius: 20px;
    padding: 10px;
    width: 240px;
    margin-top: 15px;
    border: none;
    outline:0;
    box-shadow: 0 0 0.5em rgb(56, 56, 56);
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
}
.senha input{
    border-radius: 20px;
    padding: 10px;
    width: 240px;
    margin-top: 15px;
    border: none;
    outline:0;
    box-shadow: 0 0 0.5em rgb(56, 56, 56);
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;

}
.caixa-concordar {
    padding: 15px;
    font-size: 12px;
    color: #708090;
}
.caixa-concordar a{
    color: black;
    text-decoration: none;
}
.botao button{
    
    background-color: white;
    margin-left: 0px;
    border-radius: 20px; 
    padding: 10px;
    width: 190px;
    margin-top: 15px;
    outline:0;
    border-color: black;
    font-family: 'Open Sans', sans-serif;
    
    
}
.suporte{
    text-align: center;
    font-size: 15px;
}

.Login{
    color: black;
    text-decoration: none;
}

.ja-tem-uma-conta {
    color: #708090;
}

/*
SCROLLBAR
*/
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: radial-gradient(transparent, #666);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover{
    background: radial-gradient(transparent, black);
}
