/*
GERAL
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-family: "Open Sans", sans-serif;
    width: 100%;
}

/*
CABEÇALHO
*/

.barra-navegacao{
    margin-top: -5rem;
    position: fixed;
    width: 100%;
    
    background-color: black;
    height: 5rem;
    box-shadow: 0 0 0.5em rgb(56, 56, 56);
    
    
}
.logoProvest{
    
    height: 10rem;
    width: 10rem;
    padding: 0;
    margin-top: -40px;
}

/*
Navegação
*/

.alinhar-nav{
    margin-left: 18rem;
    margin-top: -6.5rem;
    display: -webkit-box;display: -ms-flexbox;display: flex;
}

.lista-navegacao{
    
    display: -webkit-box;display: -ms-flexbox;display: flex;
    
    list-style: none;
}

.foto-pessoa{
    
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-left: 60rem;
    
}
.div-link-nome{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    text-decoration: none;
}

.link-nome{
    color: white;
    text-decoration: none;
}

.div-tres-pontos{
    margin-top: 11px;

}
.style-tres-pontos{
    color: white;
}

/*
TELA
*/


.style-nome{
    border-radius: 20px;
    padding: 10px;
    width: 240px;
    margin-top: 15px;
    border: none;
    outline:0;
    box-shadow: 0 0 0.5em rgb(56, 56, 56);
    font-family: "Open Sans", sans-serif;
    background-color: #f1f1f1;
}
.estado select{
    border-radius: 20px;
    padding: 10px;
    width: 240px;
    margin-top: 15px;
    border: none;
    outline:0;
    box-shadow: 0 0 0.5em rgb(56, 56, 56);
    font-family: "Open Sans", sans-serif;
    background-color: #f1f1f1;

}
.style-descricao{
    border-radius: 10px;
    padding: 10px;
    width: 240px;
    margin-top: 15px;
    border: none;
    outline:0;
    box-shadow: 0 0 0.5em rgb(56, 56, 56);
    font-family: "Open Sans", sans-serif;
    background-color: #f1f1f1;

}
.quadro-add-foto{
    border-radius: 10px;
    padding: 50px;
    margin-top: 15px;
    border: none;
    outline:0;
    box-shadow: 0 0 0.5em rgb(56, 56, 56);
    font-family: "Open Sans", sans-serif;
    background-color: #f1f1f1;
}
#icone-mais{

    height: 1px;
    border-radius: 10px;
    margin-left: 4rem;
    color: black;
}
.style-cidade{
    border-radius: 20px;
    padding: 10px;
    width: 240px;
    margin-top: 15px;
    border: none;
    outline:0;
    box-shadow: 0 0 0.5em rgb(56, 56, 56);
    font-family: "Open Sans", sans-serif;
    background-color: #f1f1f1;

}
.style-endereco{
    border-radius: 20px;
    padding: 10px;
    width: 240px;
    margin-top: 15px;
    border: none;
    outline:0;
    box-shadow: 0 0 0.5em rgb(56, 56, 56);
    font-family: "Open Sans", sans-serif;
    background-color: #f1f1f1;
}
.style-telefone{
    border-radius: 20px;
    padding: 10px;
    width: 240px;
    margin-top: 15px;
    border: none;
    outline:0;
    box-shadow: 0 0 0.5em rgb(56, 56, 56);
    font-family: "Open Sans", sans-serif;
    background-color: #f1f1f1;
}
.style-celular{
    border-radius: 20px;
    padding: 10px;
    width: 240px;
    border: none;
    outline:0;
    box-shadow: 0 0 0.5em rgb(56, 56, 56);
    font-family: "Open Sans", sans-serif;
    background-color: #f1f1f1;
}
.btn-criar-curso{
    background-color: white;
    margin-left: 1.5rem;
    border-radius: 20px; 
    padding: 10px;
    width: 190px;
    margin-top: 30px;
    outline:0;
    border-color: black;
    font-family: "Open Sans", sans-serif;
}
.div-1{
    display: table;
    margin-left: 20rem;
    margin-top: 5rem;
}
.div-2{
    
    display: table;
    margin-left: 49rem;
    margin-top: -36rem;
}


/*
SCROLLBAR
*/
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: radial-gradient(transparent, #666);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover{
    background: radial-gradient(transparent, black);
}
