body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    color: #212529;
}

a {
    text-decoration: none;
    color: white;
}

header {
    height: 75px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #212529;
    position: fixed;
}

header a {
    padding: 10px;
}

.menu {
    display: grid;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
    padding: 10px;
}