#barra-navegacao {
    box-shadow: 0 0 0.5em black;
    height: 70px; 
    background-color: black; 
}

.caixa-pesquisa {
    outline: 0;
    border-radius: 30px;
    border: 0px;
    margin-top: 20px;

}

#logo-barra-navegacao {
    margin-left: 0% ; 
    height: 70px; 
    width: 80px;
    
}

#foto-perfil {
    width: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 30px;
}

#nome-perfil {
    color: white;
    font-weight: bold;
}
