* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 100vw;
    max-height: 10vw;
    /* background-image: url("../img/RE4wppK.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
.paddign{
    padding: 28px;
}

.container video{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    background-size: cover;
}
.bg-rgb{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav a {
    margin: 4px;
}

.nav i {
    color: #fff;
    font-size: 22px;
}

.container {
    width: 100%;
    display: grid;
    justify-items: center;
    color: #fff;
}

.container h1 {
    font-size: 90px;
    margin-top: 110px;
}

.btn-login {
    text-decoration: none;
    color: #ffff;
    padding: 4px;
    border-radius: 4px;
    transition: all 0.5s;
}

.btn-login:hover {
    color: #afb8c1;
}

.btn {
    border: 1px solid #ffff;
    text-decoration: none;
    margin-top: 200px;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    transition: all 0.5s;
}

.btn:hover {
    border: 1px solid #afb8c1;
    color: #afb8c1;
}