body, html{
    background-color: #f1f1f1;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}


#foto-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 60px;
}

.meu-perfil {
    color: #212529;
    font-weight: bold;
    font-size: 25px;
    margin-top: -10px;
    margin-left: 15rem;
}

.foto {
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-top: 70px;
    margin-left: 15rem;
}

.recomendacao {
    color: #000000;
    font-size: 8px;
    margin-left: 20px;
    margin-top: -15px;
    
}

.foto-usuario{
    margin-top: -8rem;
    margin-left: 12rem;
}

.dados{
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 15rem;

}

.info-dados{
    color: black;
    font-weight: bold;
    font-size: 8px;
    margin-left: 20px;
    margin-top: -15px;

}