/*
SCROLLBAR
*/
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: radial-gradient(transparent, #666);
    border-radius: .25rem;
}
::-webkit-scrollbar-thumb:hover{
    background: radial-gradient(transparent, black);
}