#barra-navegacao {
    box-shadow: 0 0 0.5em black;
    height: 70px; 
    background-color: black; 
}

.caixa-pesquisa {
    outline: 0;
    border-radius: 30px;
    border: 0px;
    margin-top: 20px;
    height: 30px;
    width: 200px;

}

#logo-barra-navegacao {
    margin-left: 0% ; 
    height: 70px; 
    width: 80px;
    
}

#foto-perfil {
    width: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 75px;
}

#nome-perfil {
    color: white;
    font-weight: bold;
    margin-left: 45px;
}

/* Dropbox Estilos*/
.dropbtn {
    background-color: #000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #000;
}
